<div class='job-location'>
  <h3>Jobs in <%= @jobs.first.city %></h3>

  <ul>
    <% @jobs.each do |job| %>
        <li>
          <%= link_to job.title, job_path(job) %>:&nbsp;
          <%= job.company.name %>
        </li>
    <% end %>
  </ul>
</div>
